@import "_color.scss";
@import "_typography.scss";
@import "_mixin.scss";
@import "_responsive.scss";

/*
    main
*/

  //ハンバーガーメニュー
.menu-text {
    color: #ffffff;
    padding-top: 40px;
}

.icon-hamburger {
    cursor: pointer;
    height: 50px;
    position: relative;
    width: 50px;
    display: none;
    margin-bottom: 0.4em;
    left: 50%;
    transform: translate(-50%,0);
    @include sp {
        display: block;
    }
  }
  
  .icon-hamburger span {
    background: $SubColor;
    display: block;
    height: 16%;
    left: 50%;
    margin: -8% 0 0 -42%;
    position: absolute;
    top: 50%;
    width: 84%;
  }
  
  .icon-hamburger span::before,
  .icon-hamburger span::after {
    background: $SubColor;
    content: "";
    display: block;
    height: 100%;
    left: 50%;
    margin: -8% 0 0 -50%;
    position: absolute;
    top: 50%;
    width: 100%;
  }
  
  .icon-hamburger span::before {
    margin-top: -38%;
  }
  
  .icon-hamburger span::after {
    margin-top: 19%;
  }


//ハンバーガーメニュー

//ドロワーメニュー
.menu-container {
    margin: 0;
  }
  
  .menu-container .menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
    @include sp {
        border: 1px solid #ccc;
        margin-top: 20px;
    }
  }
  
  .menu-container .menu .menu-item {
    flex: 1;
  }
  
  .menu-container .menu .menu-item a {
    background: $AccentColor;
    color: $SubColor;
    display: block;
    
    text-align: center;
    text-decoration: none;
    @include sp {
        padding: 0.6em 0.4em;
    }
  }
  
  .menu-container .menu .menu-item a:hover {
    background: #ccc;
    color: #ffffff;
  }
  
  .menu-container .menu .menu-item:last-child a {
    border-right: none;
  }
  
  @media screen and (max-width: 768px) {
    .menu-container .menu {
      display: none;
      width: 100%;
    }
    .menu-container .menu .menu-item a {
      border-bottom: 1px solid #ccc;
      border-right: none;
    }
    .menu-container .menu .menu-item:last-child a {
      border-bottom: none;
    }
  }

//ドロワーメニュー

.main-visual {
    background: url(/img/top_img3.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;
    height: 80vh;
    position: relative;
}

.main-message {
    text-align: center;
    color: $SubColor;
    font-size: 8rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    @include tab {
        font-size: 5rem;
    }
    @include sp {
        font-size: 4rem;
    }
    span {
        background-color: $textColor;
        padding: 10px;
        @include sp {
            padding: 7px;
        }
    }
}

.global-nav {
    background-color: $AccentColor;
    height: 80px;
    @include sp {
        height: auto;
        padding: 20px;
    }

    li {
        color: $SubColor;
        padding: 20px 0;
        margin: 10px 0;
        border-left: 1px solid #F1F1F1;
        text-align: center;
        width: 17%;
        @include sp {
            width: 100%;
            padding: 0;
            border: none;

        }
        &:last-child {
            border-right: 1px solid #F1F1F1;
            @include sp {
                border: none;
            }
        }
    }
    a {
        color: #ffffff;
    }

}

.global-nav.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

.menu-nav {
    background-color: $AccentColor;
    height: 80px;
    @include sp {
        height: auto;
        padding: 20px;
        display: none;
    }
    ul {
        display: flex;
    }

    li {
        color: $SubColor;
        padding: 20px 0;
        margin: 10px 0;
        border-left: 1px solid #F1F1F1;
        text-align: center;
        width: 17%;
        @include sp {
            width: 100%;
            padding: 0;
            border: none;
        }
        &:last-child {
            border-right: 1px solid #F1F1F1;
            @include sp {
                border: none;
            }
        }
    }
    a {
        color: #ffffff;

        }
    

}

.menu {
        a {
            color: #ffffff;
        }
}

/*
    main-end
*/

/*
    faq
*/

.faq-wrapper {
    background-color: #f7f7f7;
    padding-top: 30px;
}

.faq-title {
    @include button-hex;
    margin: auto;
    width: 250px;
    &::before,&::after {
        @include button-hex-before-after;
    }
    &::before {
        @include button-hex-before;
    } 
    &::after {
        @include button-hex-after;
    }
}

.faq-heading {
    @include heading;
}

.faq-boxs {
    display: flex;
    flex-wrap: wrap;
    margin-top: 30px;
    @include sp {
        flex-direction: column;
    }
}

.faq-item {
    width: 31%;
    margin-right: 30px;
    box-shadow: 3px 3px 10px;
    border-radius: 12px 12px 12px 12px;
    margin: auto;
    margin-bottom: 30px;
    background-color: #ffffff;
    @include sp {
        width: 90%;
    }
}

.faq-icon {
    font-size: 50px;
    color: $textColor;
    margin-top: 30px;
    text-align: center;
}

.faq-text {
    color: $textColor;
    margin-top: 30px;
    text-align: center;
    font-size: 2.3rem;
    font-weight: bold;
}

.faq-text_second {
    margin: 30px 0;
    padding: 0 15px;
    text-align: center;
}

/*
    faq end
*/

/*
    service
*/

.service-wrapper {
    padding-top: 30px;
}

.service-title {
    @include button-hex;
    margin: auto;
    width: 250px;
    &::before,&::after {
        @include button-hex-before-after;
    }
    &::before {
        @include button-hex-before;
    } 
    &::after {
        @include button-hex-after;
    }
}

.service-heading {
    @include heading;
}


.service-picture_right {
    width: 600px;
    display: block;
    margin: 0 0 0 auto;
    @include sp {
        width: 100%;
        margin: auto;
        height: 250px;
        object-fit: cover;
    }
}

.service-contents {
    margin: 30px 0px;
}

.service-contents_left {
    background: $AccentColor;
    text-align: center;
    padding: 40px;
    position: relative;
    top: -342px;
    left: 0;
    width: 55%;
    @include sp {
        position: initial;
        width: 100%;
    }
}

.sevice-text_heading {
    color: $SubColor;
    font-size: 2rem;
}

.service-text_middle {
    color: $SubColor;
    padding-top: 30px;
    text-align: justify;
    line-height: 1.8;
    @include sp {
        font-size: 1.3rem;
    }
}

.service-picture_left {
    width: 600px;
    display: block;
    margin: -220px auto 0 0;
    @include sp {
        width: 100%;
        margin: auto;
        height: 300px;
        object-fit: cover;
        margin-top: 30px;
    }
}

.service-contents_right {
    background: $AccentColor;
    text-align: center;
    padding: 40px;
    position: relative;
    top: -340px;
    left: 0;
    width: 55%;
    margin: 0 0 0 auto;
    @include sp {
        position: initial;
        width: 100%;
    }
}

/*
    service end
*/

/*
    message
*/

.message-heading_wrapper {
    background-color: $textColor;
    margin-top: -200px;
    padding: 40px 0;
    @include sp {
        margin-top: 0;
    }
}

.message-title {
    @include button-hex;
    margin: auto;
    width: 250px;
    &::before,&::after {
        @include button-hex-before-after;
    }
    &::before {
        @include button-hex-before;
    } 
    &::after {
        @include button-hex-after;
    }
}

.message-heading {
    @include heading;
}


.message-main_wrapper {
    background: url(/img/iocenters3-black.jpg);
    background-position: center;
    background-size: cover;
    max-width: 100%;

}

.message-text {
    padding: 60px 0;
    text-align: center;
    font-size: 2.8rem;
    color: $SubColor;
    font-weight: bold;
    @include sp {
        font-size: 2.0rem;
    }
}

.message-text_main {
    text-align: justify;
    font-size: 2.3rem;
    color: #ffffff;
    padding-bottom: 50px;
    font-weight: bold;
    width: 90%;
    margin: auto;
    line-height: 2.5;
    @include sp {
        font-size: 1.6rem;
    }
}

.message-text_bottom {
    text-align: right;
    font-size: 2.3rem;
    color: $SubColor;
    padding-bottom: 60px;
    padding-right: 10px;
    font-weight: bold;
    @include sp {
        font-size: 2.0rem;
    }
}

/*
    message end
*/

/*
    news
*/

.news-wrapper {
    padding: 60px 0;
    background-color: #f7f7f7;
}

.news-title {
    @include button-hex;
    margin: auto;
    width: 250px;
    &::before,&::after {
        @include button-hex-before-after;
    }
    &::before {
        @include button-hex-before;
    } 
    &::after {
        @include button-hex-after;
    }
}

.news-heading {
    @include heading;
}

.news-contents {
    padding-top: 10px;
}

.news-link {
    display: block;
    text-decoration: none;
    color: $MainColor;
}

.news-body {
    padding: 16px 10px;
    border-bottom: 1px solid #d0d0d0;
    display: flex;
    @include sp {
        flex-direction: column;
    }
}

.news-release {
    width: 15%;
    font-size: 1.4rem;
    @include sp {
        width: 100%;
    }
}

.news-text {
    width: 85%;
    font-size: 1.4rem;
    @include sp {
        width: 100%;
    }
}

/*
    news end
*/

/*
    access
*/

.access-wrapper {
    padding: 60px 0;
    @include sp {
        padding: 60px 0 0;
    }
}

.access-title {
    @include button-hex;
    margin: auto;
    width: 250px;
    &::before,&::after {
        @include button-hex-before-after;
    }
    &::before {
        @include button-hex-before;
    } 
    &::after {
        @include button-hex-after;
    }
}

.access-heading {
    @include heading;
}

.access-contents {
    display: flex;
    padding-top: 40px;
}

.border-line {
    width: 72px;
    border: 2.5px solid $btnColor;
    display: block;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px;
}

.access-contents {
    display: flex;
    text-align: center;
    @include sp {
        flex-direction: column;
        
    }
    iframe {
        width: 49%;
        height: auto;
        @include sp {
            width: 100%;
            height: 300px;
        }
    }
}

.access-body {
    width: 49%;
    padding: 30px 0 ;
    background-color: $AccentColor;
    margin-left: 20px;
    @include sp {
        width: 100%;
        margin-left: 0px;
    }

}

.access-body_heading {
    color: $SubColor;
    text-align: center;
}

.access-table {
    padding-top: 20px;
    color: $SubColor;
    display: flex;
    @include sp {
        flex-direction: column;
    }
}

.access-left_text {
    width: 25%;
    padding-left: 20px;
    @include sp {
        width: 100%;
        padding-left: 0px;
    }
}

.access-right_text {
    width: 75%;
    @include sp {
        width: 100%;
    }
}

/*
    access end
*/

/*
    contact
*/

.contact-wrapper {
    padding: 60px 0;
    background-color: $textColor;
}



.contact-title {
    @include button-hex;
    margin: auto;
    width: 250px;
    &::before,&::after {
        @include button-hex-before-after;
    }
    &::before {
        @include button-hex-before;
    } 
    &::after {
        @include button-hex-after;
    }
}

.contact-form {
    padding-top: 30px;
}

.text-name {
    margin: auto;
    border-radius: 8px;
    display: block;
    padding: 16px;
    margin-bottom: 30px;
    width: 70%;
    @include sp {
        width: 94%;
        margin-bottom: 39px;
    }
}

.textarea-text {
    margin: auto;
    border-radius: 8px;
    display: block;
    margin-bottom: 39px;
    width: 70%;
    height: 105px;
    @include sp {
        width: 94%;
    }
}

.contact-form_btn {
    @include btn-form;
    display: block;
    font-size: 2.3rem;
    letter-spacing: 20px;
    text-indent: 20px;
    width: 250px;
    margin: auto;
    text-align: center;
}

/*
    contact end
*/




