// レスポンシブ
// ブレークポイント


$pc: 1180px; // PC
$tab: 1179px; // タブレット
$sp: 767px;  // スマホ

@mixin pc {
  @media (max-width: ($pc)) {
    @content;
  }
}
@mixin tab {
  @media (max-width: ($tab)) {
    @content;
  }
}
@mixin sp {
  @media (max-width: ($sp)) {
    @content;
  }
}

.aa {
	@include pc {
	  color: red;
	};
	@include tab {
	  color: blue;
	};
	@include sp {
	  color: yellow;
	};
  }

